<% if @allocations.length == 0 %>
  <br/><b>No Resource Attached to this Vteam</b>
<% else %>

  <%= simple_form_for([@vteam, @vacation],:remote=>true, :html=>{:multipart=>true}) do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.association :resource_vteam_allocation ,:required=>:true,
        :label =>"Resource", :collection=>@allocations, :include_blank => false %>
      <%= f.association :vacation_type,:required=>:true, :label=>"Vacation",
        :include_blank => false%>
      <%= f.input :from, :as=>:string,:required=>:true, :input_html=>{:class=>'datepicker',:size=>20} %>
      <%= f.input :to, :as=>:string,:required=>:true,:input_html=>{:class=>'datepicker',:size=>20}  %>
      <%= f.input :reason,:required=>:true,
        :input_html => {:rows => "7", :cols => "70"} %>
    </div>

    <div class="actions">
      <%= f.button :submit, :class=>'button big' %> <span style="vertical-align: bottom">or</span> <%= link_to "Cancel", "#", :id=>'new-xdoc-cancel' %>
    </div>
  <% end %>
  <br />
<% end %>