<%= content_for :sidebar do %>
    <%= render :partial=>'show_sidebar' %>
<% end %>

<%= content_for :css do %>
    <%= theme_stylesheet_link_tag 'contacts/show' %>
    <%= stylesheet_link_tag 'contacts/show' %>
    <%= theme_stylesheet_link_tag 'notes/index' %>
<% end %>

<%= content_for :js do %>
    <%= javascript_include_tag 'contacts/show' %>
    <%= javascript_include_tag "notes/global" %>
    <%= javascript_include_tag "jquery.collapsorz_1.1" %>
<% end %>

<%= content_for :header do %>
    <h1><%= "#{@contact.first_name} #{@contact.last_name}" %></h1>
    <%= link_to 'Close', contacts_path, :class=>'button big right' %>
    <%= link_to 'Edit', edit_contact_path(@contact), :class=>'button big right' %>
<% end %>

<%= show_for @contact do |c| %>
    <%#*<div id="note">%>
    <%#= c.attribute :note, :label =>'' %>
    <%#= simple_form_for @contact, :remote => true do |f| %>
    <%#= f.input :note, :label => false, :as=>:text %>
    <%#= f.button :submit %>
    <%# end %>
    <%#*</div>%>
    <h3>General Information</h3>
    <% unless @contact.contact_status.blank? && @contact.contact_type.blank? && @contact.contact_directory.blank? %>

        <% unless @contact.contact_status.blank? %><%= c.association :contact_status %>
        <% end %>
        <% unless @contact.contact_type.blank? %><%= c.association :contact_type %>
        <% end %>
        <% unless @contact.contact_directory.blank? %><%= c.association :contact_directory %>
        <% end %>
        <br/>
    <% else %>
        <br/>
        <!--<span>No detail found.</span>-->
        <br/>
        <br/>
    <% end %>
    <h3>Details</h3>
    <% unless @contact.phones.blank? && @contact.emails.blank? && @contact.websites.blank? && @contact.messengers.blank? && @contact.additional_info.blank? && @contact.addresses.first.nil? %>

        <% unless @contact.phones.blank? %><%= c.association :phones, :to_sentence => true %>
        <% end %>
        <% unless @contact.emails.blank? %><%= c.association :emails, :to_sentence => true %>
        <% end %>
        <% unless @contact.websites.blank? %><%= c.association :websites, :to_sentence => true %>
        <% end %>
        <% if @contact.messengers.present? %><%= c.association :messengers, :to_sentence => true %>
        <% end %>
        <% unless @contact.additional_info.blank? %>
            <dl class="wrapper vteams_additional_info">
              <dt class="label">Additional info</dt>
              <dd class="content"><%= simple_format(@contact.additional_info) %></dd>
            </dl>
        <% end %>
        <%= c.association :addresses, :to_sentence => true if c.object.addresses.present? -%>
        <br/>
    <% else %>
        <br/>
        <!--<span>No detail found.</span>-->
        <br/>
        <br/>
    <% end %>
    <h3>Company Information</h3>
    <%#unless @contact.companies.blank? && @contact.current_company.present? %>
    <%# unless @contact.companies.blank? %><%= c.association :companies, :to_sentence => true %>
    <%#end%>
    <%# unless @contact.current_company.present? %><%= c.attribute :current_company %>
    <%#end%>
    <%#else%>
    <br/>
    <!--<span>No detail found.</span>-->
    <br/>
    <br/>
    <%#end%>
<% end %>
<hr class="clear"/>
<br/>
<div class="bottom-border">
  <h2 style="float:left;">Notes</h2>
  <%= if can?(:create, Note) then
          render_note_type_menu('Add New Note', contact_path(@contact))
      end %>
</div>
<br class="clear"/>
<div class="notes-container"></div>