<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render :partial=>'layouts/css' %>
  <%= yield :css %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>
<div id="flash_notice" class="notice"></div>

<section class="container">
  <header>
    <hgroup id="menu-grey">
      <a id="logo" href="/" title="<%= title %>"></a>
      <hgroup id="app-status">
        <%= render :partial=>'layouts/user_status' %>
      </hgroup>
      <nav id="main-tabs">
        <%= render_menu(:application_menu, {:ul_class=>'tabs', :li_class=>'', :current_class=>'current', :link_class=>''}) if user_signed_in? %>
      </nav>
    </hgroup>
    <!--
    <hgroup id="menu-strip">
      <nav class="panes">
        <%#= render 'layouts/tabpanes' %>
        <%#= render_menu(:application_menu, {:ul_class=>'', :li_class=>'pane', :current_class=>'current', :link_class=>''}, :divs, 2) if user_signed_in? %>
      </nav>
    </hgroup>
        -->
    <!-- end of menu strip -->
  </header>
  <!-- end of header -->

  <section class="main">
    <aside id="left-bar"><%= yield :sidebar %></aside>
    <article>
      <header>
        <%= yield :header %>
      </header>
      <%= yield %>
    </article>
  </section>


  <footer>
    <%= render :partial=>'layouts/footer' %>
  </footer>

</section>
<%= render :partial=>'layouts/js' %>
<%= yield :js %>
<div id='loader' style="display: none;">&nbsp;</div>
</body>
</html>