<%= simple_form_for [:admin, @user] do |f| %>

  <%= f.input :password, :label => "New Password" %>
  <%= f.input :password_confirmation, :label => "Confirm Password" %>
  <div class="actions">
    <%= f.submit 'Update',:class=>'button big' %> <span style="vertical-align: bottom">or</span>
    <%= link_to "Cancel", admin_users_path %>
  </div>
<% end %>
